/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
.like-icon.is-liked .heart {
    animation: enlargement 0.3s 1 ease-in;
}

@keyframes enlargement {
    to {
        transform: scale(1.25);
    }
}

.like-icon.is-liked .sparks {
    animation: appearance_of_color 0.3s 1 ease-in 0.3s;
}

@keyframes appearance_of_color {
    to {
        opacity: 1;
    }
}