/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
.page {
    min-inline-size: 320px;
    min-block-size: 100dvb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--inter, sans-serif);
    font-variation-settings: "wght" var(--regular, 410); /* нужно ли указывать запасное значение переменной? */
    font-size: 18px;
    line-height: 116.6%;  /* или 21 px */
    color: var(--main-color, #000); /* нужно ли указывать запасное значение переменной? */
    background-image: var(--background-image);
    background-attachment: fixed; /* фиксируем при прокрутке фон страницы */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.frame {
    border: 2px solid var(--main-color, #000);
}

.content {
    inline-size: var(--content-inline-size, 375px);
}

.header {
    padding-block: var(--container-padding-block, 122px);
    padding-inline: var(--container-padding-inline, 16px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-block: 100px;
    font-family: var(--pressstart2p, monospace);
    font-weight: 400;
    text-transform: uppercase;
    background-color: var(--card-bg, #fff);
}

.logo {
    font-size: var(--logo-height, 49px);
    text-transform: uppercase;
}

.title {
    font-size: var(--main-title, 14px);
}

.card {
    background-color: var(--card-bg, #fff);
}

.card__title {
    padding: 4px 10px;
    font-variation-settings: "wght" var(--bold, 715);
    font-size: 18px;
    border: 2px solid var(--main-color, #000);
}

.card__image {
    aspect-ratio: 1 / 1;
    position: relative;
}

.card__image-item {
    display: block;   /* по умолчанию тег img inline! */ 
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.filter-one {
    filter: grayscale(0.6);
}

.filter-two {
    filter: saturate(400%);
}

.filter-three {
    filter: hue-rotate(30deg);
}

.filter-four {
    filter: invert(80%);
}

.filter-five {
    filter: sepia(90%);
}

.filter-six {
    filter: blur(20px);
}

.filter-mix {
    filter: hue-rotate(90deg) blur(2px) contrast(50%) brightness(120%);
}

.card__image-symbol {
    position: absolute;
    top: 25px;
    right: 25px;
    font-family: var(--pressstart2p, monospace);
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;
    mix-blend-mode: hard-light; /* проверить сюда или изображению ??? */
    opacity: 0.5;
    text-shadow: 1px 1px var(--text-shadow-color, #fff);
}

@supports ((text-stroke: 1px var(--text-shadow-color)) or (-webkit-text-stroke: 1px var(--text-shadow-color))) {
    .card__image-symbol {
        text-shadow: none;
        -webkit-text-stroke: 1px var(--text-shadow-color, #fff);
    }
}

.Card__discription {
    padding: 25px 25px 0 25px;
}

.Card__like {
    padding: 25px;
    display: flex;
    gap: 12px;
    justify-content: end;
    align-items: center;
    font-size: 14px;
}

.button__text {
    font-family: var(--pressstart2p, monospace);
    font-size: 14px;
    font-weight: 400;
    line-height: 90%; 
    mix-blend-mode: difference;    /*  1  голову ломал целый день из-за этого долбаного свойства !!!! */ 
    color: var(--main-color-negative);                /*  меняем цвет на противоположный для корректной работы свойства смешивания !!!  */
}

.card__like-button {
    inline-size: 138px;
    padding-block: 12.5px;
    background-color: transparent;  
}

.button {
    position: relative;  
    cursor: pointer;       
    overflow: hidden;
    transition: box-shadow 0.3s ease;   /* !!! плавное появление тени кнопки !!! */
}

.button::before {
    content: " ";
    position: absolute;
    top: 0;
    left: -100%; /* Исходное положение псевдоэлемента за левым краем кнопки */
    width: 100%;
    height: 100%;
    background-color: var(--main-color);  /* цвет шторки  */ 
    transition: transform 0.5s ease-in-out; /* Параметры перехода */
}

.button:hover::before {
    transform: translateX(100%); /* При наведении переводит псевдоэлемент на правую границу кнопки */
}

.button:focus {
    outline: none;
}

.button:focus-visible {
    box-shadow: 2px 2px var(--main-color, #000);
}

.card__icon-button {
    border: 2px solid transparent;        
    background-color: transparent;       /* убираем браузерные стили */
    cursor: pointer;
    transition: border-color 0.3s ease;      /* убедиться в плавности появления и снятия */
}

.card__icon-button:focus {
    outline: none;
}

.card__icon-button:focus-visible {
    border-color: var(--main-color, #000);
}

.contour {
    transition: fill 0.1s linear;   /* быстрый */ 
}

.core {
    transition: fill 0.3s linear 0.03s;  /* с задержкой 0,03сек  */ 
}

.main-body {
    transition: fill 0.3s linear; /* без задержки */ 
}

.sparks {
    opacity: 0;
}

.like-icon:hover .core {
    fill: var(--main-color);
    transition: fill 0.3s linear;   /* в состоянии ховер без задержки */ 
}

.like-icon:hover .main-body {
    fill: var(--heart-main-body-color);
    transition: fill 0.3s linear 0.05s;   /* с задержкой 0,05сек  */
}

.like-icon:active .core {
    fill: var(--animation-fill-color);
    transition: fill 0.3s linear;
}

.like-icon:active .main-body {
    fill: var(--animation-fill-color);
    transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
    fill: var(--animation-fill-color);  
    transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
    fill: var(--animation-fill-color);
    transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
     fill: var(--animation-fill-color);
     transition: fill 0.3s linear 0.06s; /* изменена длительность и задержка */
}
.like-icon {
    transform-origin: center;       /* для анимации чтобы происходила от центра  */
}

.cards-list-item:not(:last-child) {
    margin-bottom: 52px;  /*  уточнить ????  */
}

.save-memories {
    padding: 50px 0px 100px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_save {
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.floppy-image {
    color: #fff;
    mix-blend-mode: difference;   /* для перекрашивания svg при наезде псевдоэлемента  */
    width: 21px;
    height: 21px;
}

.floppy-xl {
    width: 39px;
    height: 39px;
}

.insert__floppy {
    padding: 30px;
    max-inline-size: 353px;
}

.insert__floppy[open] {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.insert__floppy::backdrop {
    background-color: rgb(0 0 0 / 0.8);
}

.capitals {
    text-transform: uppercase;
    line-height: 150%;
}

.massage_window {
    display: flex;
    gap: 20px;
    align-items: center;
}

.button_save_positive {
    padding-block: 12.5px;
    inline-size: 100%;
    cursor: pointer;
}

@media (width <= 376px) { /* не работает на 375px а на !!!!   */ 
    .button_save {
        flex-direction: column; 
    }
    .floppy-image {
        width: 28px;
        height: 28px;
    }
}