/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --inter:'Inter-Variable';
    --pressstart2p: 'Press Start 2P';
    --regular: 410;
    --bold: 715;
}